{% extends 'main_layout.html' %}
{% load bootstrap4 %}

{% block title %}Ввод нового пароля{%endblock%}

{% block content %}
{% if validlink %}
<h1>Смена пароля</h1>
<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-success">Установить новый пароль</button>
    {% endbuttons %}
</form>
{% else %}
<h1>Error auth!</h1>
<p>Не удалось сменить пароль, возможно время действия ссылки истекло. Начните процесс восстановления пароля сначала.</p>
{% endif %}
{% endblock %}